html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --main-background-color: #ffffff;
  --accent-color: #2196f3;
  --basic-white: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Ulilities */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  font-family: Raleway, bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo__bit {
  color: var(--accent-color);
}

.logo__bit--inverse {
  color: var(--basic-white);
}

/* Site nav */

nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
  gap: 50px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  text-decoration: none;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__item--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

/* Contacts */

.contact-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact-list__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.contact-list__contact:hover,
.contact-list__contact:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.contact-list__icon:hover,
.contact-list__icon:focus {
  fill: var(--accent-color);
}


/* Body index */

/* Hero */

.hero {
  padding: 200px 0;
  text-align: center;
}

/* Overlay */

.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--basic-white);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* Section Utilites */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
  text-align: center;
}

/* Section features */

.features-section {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list__item {
  width: 270px;
}

.feature__icon {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);

  text-transform: uppercase;
}

.feature__description {
  width: 270px;
  line-height: 1.71;
}

/* Section What we do */

.wedo-list {
  display: flex;
  gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wedo-card::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.wedo-card {
  position: relative;
}

.wedo-card__label {
  position: absolute;
  left: 83px;
  bottom: 27px;

  font-weight: 700;
  line-height: 1.17;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

/* Section Our team */

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.teammate {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teammate__meta {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: var(--basic-white);
}

.teammate__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.teammate__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.teammate__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.socials .link:hover,
.socials .link:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
}

.link-icon {
  fill: currentColor;
}

/* Clients */

.clients.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients.list .item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 35px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms var(--cubic), border 250ms var(--cubic);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio */

.filters.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filters .filter {
  min-width: 73px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.filters .filter:hover,
.filters .filter:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filters .active-btn {
  background-color: var(--accent-color);
  color: var(--basic-white);
}

.button,
.filter {
  cursor: pointer;
}

/* Our works */

.works.list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
}

.works.list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;

  transition: box-shadow 250ms var(--cubic);
}

.works.list .item:nth-child(3n) {
  margin-right: 0;
}

.works.list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works.list .item:hover,
.works.list .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-meta {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-image {
  display: block;
}

.work-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}

.type {
  font-size: 16px;
  line-height: 1.88;
}

.work-thumb {
  position: relative;

  overflow: hidden;
}

.work-thumb::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.works.list .item:hover .work-thumb::before,
.works.list .item:focus .work-thumb::before {
  transform: translateY(0);
}

.descr {
  position: absolute;
  left: 50%;
  top: 50%;

  /* left: 24px;
  top: 63px;
   */

  width: 322px;

  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.56;
  color: var(--basic-white);

  opacity: 0;
  transition: opacity 250ms var(--cubic);
}

.works.list .item:hover .descr,
.works.list .item:focus .dtscr {
  opacity: 1;
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;

  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 528px;

  padding: 40px;
  
  background-color: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 30px;
  height: 30px;
  background-color: var(--basic-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms var(--cubic);
}

.modal-btn:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.close {
  fill: currentColor;
}

/* Form */

.modal-form {

  margin-bottom: 20px;

}

.modal-title {

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field input {
  margin: 0;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--cubic);
}

.form-field input:hover,
.form-field input:focus {
  outline: 1px solid var(--accent-color);
  cursor: pointer;

}

.form-field input:hover + .icon-modal,
.form-field input:focus + .icon-modal {
  fill: var(--accent-color);
}

.icon-modal {
 position: absolute;
 left: 12px;
 top: 29px;

 transition: fill 250ms var(--cubic);
}

/* Textarea */

.comment {
  margin-bottom: 20px;

}

.form-field textarea {
  height: 120px;
  padding: 11px 15px;

  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: outline 250ms var(--cubic);
}

.form-field input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

}

.form-field textarea:hover,
.form-field textarea:focus {
  outline: 1px solid var(--accent-color);
  cursor: pointer;
}


/* Checkbox */

.agreement {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  line-height: 1.71;
  
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

}

.label {
  margin-left: 7px;
}

.icon-active {
  position: absolute;
  top: 5px;
  left: 12px;


  padding: 4px 2px 3px 3px;
  background-color: var(--accent-color);
  border-radius: 2px;

  opacity:0;

  transition: opacity 250ms var(--cubic);
}

.checkbox:checked + .icon-active {
  opacity: 1;
}

.icon-nonactive {
  opacity: 1;

  transition: opacity 250ms var(--cubic)
}

.checkbox:checked ~ .icon-nonactive {
  opacity: 0;
}

.modal-link {

color: var(--accent-color);
}

/* Button send */

.btn-send {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 10px 55px 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--basic-white);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #188CE8;
  cursor: pointer;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.71;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  color: var(--basic-white);
}

.footer-contacts .item {
  margin-top: 9px;
}

.contact-down {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms var(--cubic);
}

.footer-contacts .contact-down:hover,
.footer-contacts .contact-down:focus {
  color: var(--accent-color);
}

/* Footer-socials */

.footer-socials {
  margin-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--basic-white);
}

.socials .footer-link {
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--cubic);
}

.socials.footer .link:hover,
.socials.footer .link:focus {
  background-color: var(--accent-color);
}

/* E-mail input */

.input {
  margin-left: auto;
}

.input-text {
  margin-bottom: 12px;

  font-weight: 700;
  line-height: 1.14;
  line-height: 16px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.input input[type='email'] {

  padding: 14px 14px;

  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.input-btn {
  margin-left: 12px;
  padding: 10px 25px 10px 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--basic-white);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.input-icon {
  margin-left: 10px;
  vertical-align: middle;
}
