.button {
    min-width: 200px;
    padding: 10px 32px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
  
    color: var(--basic-white);
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
  
  .button:hover,
  .button:focus {
    background-color: #188ce8;
    cursor: pointer;
  }

  .btn-filter {
    min-width: 73px;
    padding: 6px 22px;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border: none;
    border-radius: 4px;
  
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
      box-shadow 250ms var(--cubic);
  }
  
  .btn-filter:hover,
  .btn-filter:focus {
    background-color: var(--accent-color);
    color: var(--basic-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .btn-filter--active {
    background-color: var(--accent-color);
    color: var(--basic-white);
  }

  
.btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    width: 30px;
    height: 30px;
    background-color: var(--basic-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  
    transition: color 250ms var(--cubic);
  }
  
  .btn-close:hover {
    cursor: pointer;
    color: var(--accent-color);
    cursor: pointer;
  }
  
  .btn-close__icon {
    fill: currentColor;
  }

  .btn-send {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  
    padding: 10px 55px 10px 56px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--basic-white);
  
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
  
    transition: background-color 250ms var(--cubic);
  }
  
  .btn-send:hover,
  .btn-send:focus {
    background-color: #188CE8;
    cursor: pointer;
  }

  
.btn-subscr {
    margin-left: 12px;
    padding: 10px 25px 10px 27px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--basic-white);
  
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
  }
  
  .btn-subscr__icon {
    margin-left: 10px;
    vertical-align: middle;
  }
  